@import 'tailwindcss';

/*
------------------ FONTS ------------------ 
    ~Usage~
        Add local fonts into the website, just insert the
        file into /src/fonts and follow the templates below
*/

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/Lato.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/DM Mono.ttf') format('truetype');
}

/*
------------------ THEME ------------------ 
    ~Usage~
        The themes directive allows us to add custom "design tokens" like
		fonts, colors, and breakpoints into this project
*/
@theme {
	/* For example, we can define out lato font like so */
	--font-lato: Lato, Tahoma, sans-serif;

	/* Colors as well */
	--color-primary: #8658f1;
	--color-secondary: #803f98;
	--color-red: #FB8567;
}

/*
------------------ COMPONENTS ------------------ 
    ~Usage~
	These stylings are used for one specific svelte-kit component
*/
@layer components {
	.animate {
		@apply ease-in-out;
		transition-duration: 300ms;
	}

	.animate-all {
		* {
			@apply ease-in-out;
			transition-duration: 300ms;
		}
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	input.strip-focus:focus {
		outline: none;
		border-color: inherit;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

@layer base {
	h1 {
		@apply font-medium leading-none;
		font-size: 4rem;
	}

	h2 {
		@apply text-5xl font-normal;
	}

	h3 {
		@apply font-normal;
		font-size: 2rem;
	}

	h4 {
		@apply text-2xl font-normal;
	}

	p {
		font-size: 2.5rem;
	}

	/* [0, sm) */
	@media (width < 40rem) {
		html {
			font-size: 10px;
		}
	}
}

@custom-variant s_xs (&:where(.s_xs, .s_xs *));
@custom-variant s_sm (&:where(.s_sm, .s_sm *));
@custom-variant s_md (&:where(.s_md, .s_md *));
@custom-variant s_lg (&:where(.s_lg, .s_lg *));
@custom-variant s_xl (&:where(.s_xl, .s_xl *));
@custom-variant s_2xl (&:where(.s_2xl, .s_2xl *));


@custom-variant p_web (&:where(.p_web, .p_web *));
@custom-variant p_ios (&:where(.p_ios, .p_ios *));
@custom-variant p_android (&:where(.p_android, .p_android *));
